main{
  --bg-color:rgb(20, 22, 46);
  --bg-light-color:rgb(74, 69, 99);
  --light-text:rgb(207, 224, 241);
  --icon-light-mode:rgb(74, 69, 99);
  --dark-text:rgb(74, 69, 99);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  min-height: 100vh;
  gap: 3em;
  padding: 1em 0;
}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon{
  width: 20px;
  height: 20px;
}
.night-mode{
  fill: var(--light-text) ;
}

.light-mode{
  fill: var(--icon-light-mode);
}