.filter{
    position: relative;
    background-color: var(--bg-light-color);
    border-radius: var(--border-radius);
    min-width: 200px;
}

.filter>button{
    color: var(--text-color) ;
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.filter>*{
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);

}
.continents{
    position: absolute;
    padding: 0.5em 0;
    width: 100%;
    display: none;
    background-color: var(--bg-light-color);
}

.continents button{
    width: 100%;
    text-align: start;
    padding: 0.5em 1rem;
    color: var(--text-color) ;

}

.showFilter{
    margin-top: 0.2em;
    display: block;
}